<h1> Search User </h1>
<%if @user.any? %>
  <%= @user[0].name %>
  <%= link_to "Show profile", user_path(@user[0].id),class: "text-dark" %>

        <%if @user[0].followers.any? { |follower| follower == current_user } %>

                  <%= render partial: 'shared/unfollow' , locals: {data: @user[0]} %>

        <%else%>
                  <%= render partial: 'shared/follow' , locals: {data: @user[0]} %>
        <%end%>
<%else%>
  <p>No User Found</p>
  <%@user1.each do |data|%>
    <%= data.name %>
    <%= link_to "Show profile", user_path(data.id),class: "text-dark" %><br>

        <%if data.followers.any? { |follower| follower == current_user } %>
                  <%= render partial: 'shared/unfollow' , locals: {data: data} %>
        <%else%>
                  <%= render partial: 'shared/follow' , locals: {data: data} %>
        <%end%>
  <%end%>
<%end%>
