<div class="container">
  <div class="row">
    <div class="col-4">
      <%if @user.avatar.attached?%>
        <%= image_tag @user.avatar, width: "100px" ,class: "p-stats" %>
      <%end%>
      <%= @user.name %>

    </div>
    <div class="col-8 text-left">
      <h1><%= @user.name %></h1>
      <div class="row profile-stats">
        <div class="col-4">
          <%= @user.posts.count%> Posts
        </div>
        <div class="col-4"><%= @user.total_following.count%> followers</div>
        <div class="col-4"><%= @user.total_followers.count%> following</div>
      </div>
    </div>
    <% if @user.account_type == "public_account" %>
      <div class="row">
            <% @user.posts.each do |p|%>

                <div class="col-4">
                  <% p.images.each do |image| %>
                      <div class="insta-post">
                        <%= image_tag image, class: "img img-fluid" %>
                      </div>
                    <%end%>
                </div>
          <% end %>
      </div>
     <%end%>
</div>




